@import "tailwindcss";

body {
  /* background-color: #2a2a2a; */
  color: #bdece3;
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
}
.shaded {
  /* background-color: #2a2a2a; */
  color: #bdece3;
}
.active {
  @apply bg-gray-300 text-gray-700 p-2 rounded text-xl font-semibold;
  background-color: #111111;
  color: #6dd6c2;
}
/* .mainContainer {
  height: 100vh;
  width: 100vw;
} */
/* #95e1d3 */
/* ============= COLORS ==================== */
/* 
#bdece3 - light mint
#95e1d3 - light teal
#6dd6c2 - mint
#2a2a2a - darker gray
#111111 - darker gray
#000000 - black
*/
